@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Red+Rose:wght@300..700&display=swap');

$bootstrap-icons-font-dir: "bootstrap-icons/font/fonts";
@import "bootstrap-icons/font/bootstrap-icons";

* {
  @apply m-0 p-0 scroll-smooth;
}


:root {
  --white-color: #FFF;
  --dark-white-color: #FFF;
  --font-red-rose: 'Red Rose', serif;
  --font-figtree: "Figtree", sans-serif;
  --primary-color: #D9D2F3;
  --primary-color1: #CAD8C7;
  --primary-color2: #D2EDE3;
  --primary-color3: #EFE5D5;
  --primary-color4: #FFFF9F;
  --primary-color5: #D2E7ED;
  --primary-color6: #D2EDE7;
  --primary-color7: #D9D9D9;
  --primary-color8: #F3D8CD;
  --primary-color9: #D2E7ED;
  --primary-color10: #D9D2F3;
  --primary-color11: #EFE5D5;
  --primary-color12: rgba(253, 255, 159, 1);
  --primary-green: #78EB54;
  --primary-green2: #EC6219;
  --primary-green3: rgba(25, 25, 25, 1);
  --primary-blue: #2E4BD4;
  --text-color: #191919;
  --dark-text-color: #191919;
  --text-color2: #545454;
  --dark-text-color2: #545454;
  --border-color: #eee;
  --text-color-opc: 25, 25, 25;
  --border-color2: #F8EEFC;
}

.dark body {
  background-color: #161616;
  --text-color2: #c4c4c4;
  --text-color: #FFF;
  --dark-white-color: #191919;
  --primary-color: #1F1F1F;
  --primary-color1: #1F1F1F;
  --primary-color2: #1F1F1F;
  --primary-color3: #1F1F1F;
  --primary-color4: #1F1F1F;
  --primary-color5: #1F1F1F;
  --primary-color6: #1F1F1F;
  --primary-color7: #1F1F1F;
  --primary-color8: #1F1F1F;
  --primary-color9: #1F1F1F;
  --primary-color10: #1F1F1F;
  --primary-color11: #1F1F1F;
  --border-color: #2F2F2F;
  --text-color-opc: 255, 255, 255;
}

html {
  font-size: 100%;
  @apply scroll-smooth;
}

input {
  @apply border-none outline-none;
}

button {
  @apply border-none outline-none;
}

i.bx {
  @apply align-middle;
}

img {
  @apply h-auto max-w-full;
}

img, svg {
  @apply align-middle;
}

a {
  text-decoration: none;
}

p {
  @apply text-base font-normal leading-[26px];
  font-family: var(--font-figtree), serif;
}

.container {
    &--xl {
        @apply max-w-[1140px] xxl:max-w-[1320px] mx-auto px-3 w-full;
    }

    &--xxl {
        @apply lg:max-w-[1320px] w-full mx-auto px-3;
    }
}

.form__inner {
  &--2 {
    @apply box-border flex items-center justify-between w-full py-[4px];

    input {
      @apply placeholder:text-[var(--text-color2)] w-full bg-transparent border-none text-[15px] font-medium text-[var(--text-color)] ;
    }

    button {
      @apply bg-transparent text-[22px] border-none outline-none;

      svg {
        @apply cursor-pointer;
        fill: var(--text-color) !important;
      }
    }
  }
}

.btn {
  &__subscribe {
    @apply text-[15px] font-bold text-[var(--white-color)] bg-[var(--dark-text-color)] md:flex items-center justify-center rounded-[5px] gap-[8px] py-[10px] px-[20px] relative overflow-hidden z-[1] transition-all duration-500 ease-linear delay-0 dark:bg-[var(--white-color)] dark:text-[var(--dark-text-color)] hidden;
    font-family: var(--font-red-rose), serif;

    svg {
      @apply stroke-[var(--white-color)] transition-all duration-500 ease-linear delay-0 dark:stroke-[var(--dark-text-color)];
    }

    &:after {
      @apply content-[''] absolute z-[-1] w-full h-full top-0 right-0 origin-right scale-x-0 transition-transform duration-[700ms] ease-in-out delay-0 bg-[var(--primary-green)];
    }

    &:hover {
      @apply text-[var(--dark-text-color)];

      &:after {
          @apply origin-left scale-x-100;
      }

      svg {
        @apply stroke-[var(--dark-text-color)] rotate-45;
      }
    }
  }

    &__load-more {
        @apply w-full flex justify-center px-[12px];

        a {
            @apply text-[15px] font-bold text-[var(--text-color)] bg-[#F8F8F8] md:flex items-center justify-center rounded-[100px] gap-[8px] py-[20px] px-[36px] relative overflow-hidden z-[1] transition-all duration-500 ease-linear delay-0 dark:bg-[#2F2F2F];
            font-family: var(--font-red-rose), serif;

            svg {
                @apply fill-none stroke-[var(--text-color)] transition-all duration-500;
            }

            &:after {
                @apply content-[''] absolute z-[-1] w-full h-full top-0 right-0 origin-right scale-x-0 transition-transform duration-[700ms] ease-in-out delay-0 bg-[var(--text-color)] rounded-[40px];
            }

            &:hover {
                @apply text-[var(--white-color)] dark:text-[var(--dark-text-color)];

                &:after {
                    @apply origin-left scale-x-100;
                }

                svg {
                    @apply fill-none stroke-[var(--white-color)] dark:stroke-[var(--dark-text-color)];
                }
            }
        }
    }
}

.author {
    @apply py-[20px] flex items-center gap-[15px];

    &__image {
        a {
            img {
                @apply max-w-full h-auto object-cover;
            }
        }
    }

    &__content {
        @apply leading-8;
    }

    &__name {
        a {
            @apply text-[16px] font-bold leading-[19.98px] text-left text-[var(--dark-text-color)] transition-all duration-[350ms] hover:text-[var(--primary-green)] dark:text-[var(--white-color)] dark:hover:text-[var(--primary-green)];
            font-family: var(--font-red-rose), serif;
        }
    }

    &__publish-date {
        @apply flex items-center text-center gap-[26px];

        a {
            @apply text-[14px] font-medium leading-[16.8px] text-left text-[va(--dark-text-color2)] transition-all duration-[350ms] dark:text-[var(--white-color)] dark:hover:text-[var(--primary-green)];
            font-family: var(--font-figtree), serif;
        }

        span {
            @apply text-[14px] font-medium leading-[16.8px] text-left text-[var(--dark-text-color2)] relative dark:text-[var(--white-color)];
            font-family: var(--font-figtree), serif;

            &:after {
                @apply content-[''] size-[6px] rounded-[5px] bg-[#C4C4C4] absolute left-[-16px] top-1/2 transform translate-y-[-50%];
            }
        }
    }
}

.tags {
    @apply mb-[12px] flex w-full items-center gap-[30px] text-center;
}

.tag {
    a {
        @apply rounded-[5px] bg-[#F0F0F0] px-[10px] py-[3px] text-left text-[16px] font-normal leading-[30px] text-[var(--dark-text-color2)] transition-all duration-700 hover:bg-[var(--primary-green)] dark:bg-transparent dark:text-[var(--white-color)] dark:border-[1px] dark:border-[#2F2F2F] dark:hover:bg-[var(--primary-green)] dark:hover:text-[text-[var(--dark-text-color)]];
        font-family: var(--font-red-rose), serif;
    }
}

.bookmark {
    @apply flex items-center rounded-[5px] border border-[#EEEEEE] bg-white px-[6px] py-[5px] text-center transition-all duration-700 hover:bg-[var(--primary-green)] dark:bg-transparent dark:fill-white dark:border-[1px] dark:border-[#2F2F2F] dark:hover:bg-[var(--primary-green)] dark:hover:fill-[text-[var(--dark-text-color)]];
}

.email__subscribe {
    @apply mt-[30px] w-full;

    h5 {
        @apply text-[22px] font-bold leading-[2.2] text-left text-[var(--dark-text-color)] mb-[8px] dark:text-[var(--white-color)];
        font-family: var(--font-red-rose), serif;
    }

    .input {
        @apply w-full flex items-center justify-between p-[15px] max-w-[440px] h-[56px] rounded-[10px] border border-[#EEEEEE] bg-[var(--white-color)] dark:bg-[var(--dark-text-color)] dark:border-[#2F2F2F];

        input {
            @apply text-left tracking-[0em] leading-none font-normal text-[14px] bg-[var(--white-color)] w-full text-[#545454] placeholder:text-[#545454] dark:bg-[var(--dark-text-color)] dark:placeholder:text-[var(--white-color)];
            font-family: var(--font-red-rose), serif;
        }

        button {
            @apply w-full flex items-center justify-center transition-all duration-[350ms] bg-[var(--primary-green)] max-w-[36px] h-[36px] rounded-[50%];

            svg {
                @apply fill-[var(--dark-text-color)] transition-all duration-[350ms];
            }
        }

        &:hover {

            button {
                @apply bg-[var(--text-color)];

                svg {
                    @apply fill-[var(--dark-white-color)];
                }
            }
        }
    }
}

.scroll-to-top {
    @apply transform translate-y-[15px] bg-transparent fixed size-[40px] right-[30px] bottom-[55px] cursor-pointer rounded-[50%] z-[999] transition-all duration-200 ease-linear flex justify-center items-center;
}

.scroll-to-top .progress-circle {
    @apply absolute w-full h-full;
}

.progress-circle-bg {
    @apply fill-none;
}

.progress-circle-fill {
    @apply fill-none stroke-[4px] stroke-[var(--primary-green)] rotate-[-90deg];
    stroke-linecap: round;
    transform-origin: 50% 50%;
    transition: stroke-dashoffset 0.1s linear;
    stroke-dasharray: var(--circumference);
    stroke-dashoffset: var(--circumference);
}

.arrow-icon {
    @apply text-[var(--primary-green)] size-[20px];
}

