.post {
    .post__category--left {
        @apply mt-[24px] px-[12px];
    }

    &__thumbnail {
        @apply mb-[30px];

        &--image {
            @apply mb-[8px];

            img {
                @apply h-full w-full shrink-0 object-cover;
            }
        }
    }

    &__meta {
        @apply mb-[8px] flex items-center gap-[20px];

        li {
            a {
                @apply text-[16px] font-normal leading-none text-[var(--text-color)] transition-all duration-[350ms];
                font-family: var(--font-red-rose), serif;
            }

            time {
                @apply relative text-[16px] font-normal leading-none text-[var(--text-color2)] transition-all duration-[350ms];
                font-family: var(--font-figtree), serif;

                &:after {
                    @apply absolute left-[-12px] top-1/2 size-[6px] translate-y-[-50%] rounded-[50%] bg-[#C4C4C4] content-[''];
                }
            }
        }
    }

    h1 {
        @apply border-b border-[#EEEEEE] pb-[20px] text-left text-[45px] font-bold leading-[1.3] text-[var(--text-color)];
        font-family: var(--font-red-rose), serif;
    }

    &__container {
        @apply mx-[-12px] flex flex-wrap justify-center;

        .wrapper {
            @apply mx-auto mb-[60px] w-[83.33333333%] px-[12px];

            &__1 {
                @apply mx-auto mb-[40px] w-[83.33333333%] px-[12px];

                .post__blog {
                    @apply pt-0;
                }
            }
        }
    }

    &__blog {
        @apply pt-[55px];

        .text {
            @apply inline-block text-left text-[18px] font-medium text-[var(--text-color)] underline transition-all duration-[350ms];
            font-family: var(--font-figtree), serif;
        }

        mark {
            @apply mb-[10px] bg-[#FFF9D8] p-0 text-left text-[18px] font-normal leading-[0] text-[var(--text-color2)] transition-all duration-[350ms];
            font-family: var(--font-figtree), serif;
        }

        span {
            @apply mb-[45px] inline-block text-left text-[14px] font-medium leading-none text-[var(--text-color2)];
            font-family: var(--font-figtree), serif;
        }

        p {
            @apply mb-[13px] text-left text-[18px] font-normal leading-[1.7] text-[var(--text-color2)];
            font-family: var(--font-figtree), serif;
        }

        h3 {
            @apply pt-[24px] text-left text-[30px] font-bold leading-normal text-[var(--text-color)];
            font-family: var(--font-red-rose), serif;
        }

        blockquote {
            @apply relative mt-[64px] gap-[15px];

            p {
                @apply mt-[10px] pl-[30px] text-left text-[18px] font-medium italic leading-[1.7] text-[var(--text-color2)];
                font-family: var(--font-figtree), serif;
            }

            &:before {
                @apply absolute left-0 top-1/2 h-[184px] w-[1px] translate-y-[-50%] bg-[var(--primary-green)] content-[''];
            }
        }

        ul {
            @apply mb-[40px] pt-[12px];

            li {
                @apply flex items-center gap-[8px] text-left text-[18px] font-medium leading-[1.8] text-[var(--text-color2)];
                font-family: var(--font-figtree), serif;
            }
        }
    }

    .author {
        &__name {
            @apply pl-[30px];

            span {
                @apply text-left text-[16px] font-bold leading-none text-[var(--text-color)];
                font-family: var(--font-red-rose), serif;
            }
        }
    }

    &__tag {
        @apply mx-auto mb-[34px] flex w-full items-center justify-between;

        h6 {
            @apply mb-0 text-left text-[16px] font-bold leading-none text-[var(--text-color2)];
            font-family: var(--font-red-rose), serif;

            a {
                @apply text-[var(--text-color)] transition-all duration-[350ms] hover:text-[var(--primary-green)];
            }
        }

        &--item {
            @apply flex items-center gap-[10px];

            h6 {
                @apply mb-0 text-left text-[16px] font-semibold leading-none text-[var(--text-color)];
                font-family: var(--font-figtree), serif;
            }

            ul {
                @apply flex gap-[10px];

                li {
                    a {
                        @apply text-left text-[14px] font-semibold leading-none text-[var(--text-color2)] transition-all duration-[350ms];
                        font-family: var(--font-figtree), serif;
                    }
                }
            }
        }
    }

    &__share {
        @apply mb-[60px] rounded-[10px] border border-[var(--white-color)] bg-[#F8F8F8];

        &--content {
            @apply pb-[50px] pt-[40px];

            h3 {
                @apply text-center text-[30px] font-bold leading-[1.3] text-[var(--dark-text-color)] mb-[8px];
                font-family: var(--font-red-rose), sans-serif;
            }

            ul {
                @apply mb-[30px] flex items-center justify-center gap-[14px];

                li {
                    a {
                        @apply border-[#EEEEEE] flex size-[30px] items-center justify-center rounded-[50px] border bg-[var(--white-color)] text-center transition-all duration-[350ms] hover:bg-[var(--primary-green)] hover:border-none;
                    }
                }
            }

            .input {
                @apply rounded-[28px] relative bg-[var(--white-color)] justify-between items-center mx-auto flex py-[10px] px-[30px] max-w-[440px] w-full border border-[#EEEEEE] h-[56px];

                input {
                    @apply text-left tracking-[0em] leading-[0] font-normal text-[14px] text-[rgb(84,84,84)] w-full bg-[var(--white-color)];
                    font-family: var(--font-red-rose), sans-serif;
                }

                .icon {
                    @apply w-full cursor-pointer transition-all duration-[350ms] justify-center items-center flex bg-[var(--dark-text-color)] rounded-[50%] max-w-[36px] h-[36px] hover:bg-[var(--primary-green)] hover:border-none;

                    svg {
                        @apply transition-all duration-[350ms] fill-[var(--white-color)];
                    }

                    &:hover {
                        svg {
                            @apply fill-[var(--text-color)];
                        }
                    }
                }

                .copy__text {

                    @apply opacity-0 transition-all duration-[300ms] relative;

                    &:after {
                        @apply transition-all duration-[450ms] origin-right   opacity-100 translate-x-0 absolute top-[-13px] right-[40px] py-[5px] px-[10px] rounded-[3px] block content-["Copied"] leading-none bg-[var(--primary-green)] text-[var(--dark-text-color)] text-[16px];
                        font-family: var(--font-red-rose), sans-serif;
                    }

                    &.visible {
                        @apply opacity-100;
                    }
                }
            }
        }
    }

    &__subscribe {
        @apply text-center py-[40px] rounded-[10px] bg-[#EDE6FF];

        h3 {
            @apply mb-[20px] mx-auto max-w-[400px] text-[#000000] text-center tracking-[0em] text-[30px] font-bold leading-[1.3];
            font-family: var(--font-red-rose), sans-serif;
        }

        .input {
            @apply mx-auto mb-[15px] justify-center flex items-center p-[15px] max-w-[440px] h-[56px] w-full bg-[var(--white-color)] border border-[var(--text-color)] rounded-[10px];

            input {
                @apply text-left tracking-[0em] leading-[0] font-normal text-[14px] text-[rgb(84,84,84)] w-full bg-[var(--white-color)];
                font-family: var(--font-red-rose), sans-serif;
            }

            button {
                @apply justify-center flex items-center bg-[var(--primary-green)] rounded-[50%] max-w-[36px] h-[36px] w-full transition-all duration-[350ms] hover:bg-[var(--text-color)] hover:border-none;

                &:hover {
                    svg {
                        @apply fill-[var(--dark-white-color)];
                    }
                }
            }
        }

        p {
            @apply flex justify-center gap-[4px] items-center mb-0 text-center text-[var(--text-color2)] text-[14px] font-medium leading-[1.7] tracking-[0em];
            font-family: var(--font-figtree), sans-serif;
        }
    }

    &__related {
        @apply pt-[90px];

        h6 {
            @apply mb-[26px] text-[var(--text-color)] text-left text-[30px] font-bold leading-normal;
            font-family: var(--font-red-rose), sans-serif;
        }
    }

    &__comments {
        @apply pt-[100px] mx-[-12px];

        &--wrapper {
            @apply px-[12px];
        }

        .comment {
            @apply border border-[#EEEEEE] rounded-[10px] pt-[44px] px-[50px] pb-[30px];

            &--title {
                @apply flex items-center gap-[14px] mb-[53px];

                h4 {
                    @apply text-[30px] text-[var(--dark-text-color)];
                    font-family: var(--font-red-rose), sans-serif;
                }
            }
        }
    }
}
